@media (max-width: 1156px) {
  .services_items {
    display: block;
  }
  .services_item {
    max-width: 80%;
    min-height: 330px;
    margin: 30px auto;
  }
  .form_inner{ 
    background: none;
  }
  .form_box-left {
    max-width: 100%;
    
  }
  .form_box-right {
    max-width: 100%;
    
  }
  .form_box-inner .default-btn{
    background: #ffc222;
  }
  .form_box-inner .jq-selectbox_select {
    margin-bottom: 10px;
  }
  .form{
    padding-bottom: 25px;
  }
  .advantages_inner{
    display: block;
  }
  .advantages_item{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .news_inner{
    display: block;
  }
  .news_slider{
    max-width: 100%;
    margin-bottom: 90px;
  }
  .news{ 
    padding-bottom: 60px;
  }
  .services_top, .news_top{
    display: block;
    text-align: center;
  }
  .news_blog{
    max-width: 100%;
    display: block;
    margin-bottom: 30px;

  }
  .news_blog::after{
    content: "";
    clear: both;
    display: block;
  }
  .news_images{
    float: left;
    margin-right: 50px;
  }

}
@media (max-width: 1050px) {
  .footer_inner{
    display: block;
  }
  .footer_map{
    max-width: 100%;
  }
  .footer_info{
    max-width: 465px;
    margin-bottom: 25px;
  }
}
@media (max-width: 900px) {
  .slider .slick-btn {
    display: none !important;
  }
  .services_top{
    display: block;
    
  }
  .services_title-box,
  .form_title-box,
  .news_title-box{
    padding-left: 0px;
    text-align: center;
    margin: 0 auto 30px;
  }
  .services_title-box:before,
  .form_title-box:before,
  .news_title-box:before{
    display: none;
  }
  .services_btn{
    text-align: center;
  }
  .form_box-inner{
    display: block;
  }
}

@media (max-width: 700px) {
  .header_btn {
    float: none;
  }
  .header_contacts {
    text-align: center;
  }
  .header_btn:before {
    display: none;
  }
  .footer_info .header_btn:before {
    display: block;
  }
  .header_btn-menu {
    display: block;
  }
  .menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }
  .menu li {
    display: block;
    text-align: center;
  }
  .menu a {
    display: block;
    background: #ffc222;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  menu li + li {
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .header_btn:before {
    display: block;
  }
}
@media (max-width: 600px) {
  .services_item {
    max-width: 100%;
    min-height: 375px;
    margin: 30px auto;
  }
  .news_slider-inner .slick-next{
    right: -20px;
  }
  .news_slider-inner .slick-prev{
    right: 35px;
  }
  .news_images{
    float: none;
  }
}
@media (max-width: 540px) {
  .news_slider{
    padding: 50px 15px 25px 25px;
  }
  .news_slider:before{
    left:25px;
  }
  .news_slider-inner .slick-btn{
    bottom: -90px;
  }
}
@media (max-width: 414px) {
  .slider_title {
    font-size: 24px;
  }
  .slider_text {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .header_email {
    padding-right: 30px;
  }
}
@media (min-width: 700px) {
  .menu ul {
    display: block !important;
  }
}